/*Cathy Tham, 1944919 */
body{
    background-image: url("../images/weather.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

main {
    display:flex;
    flex-direction: column;
    align-items: center;
}

article{
    display:flex;
    flex-direction:column;
    align-items: center;
}
form{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
}

h1{
    color:rgb(2, 51, 24);
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 40px;

}


#city {
    background-color: rgba(245, 236, 206, 0.5);
    border-radius: 3px;
    box-shadow: 0px 2.5px rgba(119, 114, 85, 0.2);
    font-size: 15px;
    margin:5%;
}

label{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;

}
p{
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 20px;
    font-weight: bold;
}

#weather{
    color:rgb(94, 76, 43);
}
#error{
    color:rgb(212, 27, 27);
}
/*button styling*/
button{
    color: white;
    background-color:rgb(155, 113, 58);
    border: 2px solid rgb(94, 88, 88);
    border-radius: 3px;
    padding:2%;
    margin:2% 0% 0% 2.5%;
}
button:hover{
    background-color:rgb(158, 126, 78);
}


/*footer text styling*/
footer {
    font-size: 15px;
    position: fixed;
    bottom: 0;
}

a {
    color:white;
  }
a:hover {
    color: rgba(212, 16, 203, 0.541);
  }
  a:visited {
    color: rgb(16, 59, 15);
  }

